.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Space between text and icon */
  padding: 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-icon {
  display: inline-flex;
  margin-left: 8px;
  width: 20px;
  height: 20px;
}
