/* src/components/home/Home.css */

/* General page styling */
.home {
  padding: 20px;
}

/* Hot Features Section */
.hot-features, .chef-features, .restaurant-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Add margin-top to create space between Hero and Hot Features */
.hot-features {
  margin-top: 40px; /* Adjust the value to your desired spacing */
}

.hot-features h2, .chef-features h2, .restaurant-section h2 {
  text-align: left;
  margin-bottom: 20px;
}

/* Food Cards in Hot Features */
.food-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.food-card-container, .chef-card-container, .restaurant-card-container {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.food-card-container:hover, .chef-card-container:hover, .restaurant-card-container:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

.view-more {
  display: inline-block;
  margin-top: 20px;
  text-decoration: underline;
  color: rgba(184, 142, 47, 1);
}

/* Featured Chefs Section */
.chef-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

/* Featured Restaurants Section */
.restaurant-section {
  margin-top: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Mobile adjustments for Hot Features */
  .food-cards, .chef-cards {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .food-card-container, .chef-card-container {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

  /* Mobile adjustments for restaurant section */
  .restaurant-section h2 {
    margin-top: 30px;
  }
}
